<h4>To: <%= email[0].to %></h4>  
<h4>From: <%= email[0].from %></h4>  
<h4>Subject: <%= email[0].subject %></h4>  
<h4>Message: <%= email[0].message %></h4>

<a href="/" class="btn btn-info" role="button">Go Index</a>